.loginView {
  .header {
    @extend .text-center;
  }
}

.loginForm {
  @include size(400px, auto);
  @include center-block;

  form { 
    @extend .form;
    @extend .form-horizontal;
    @extend .well;
  }

  .field {
    label { 
      @extend .col-sm-3;
      @extend .control-label;
    }
    .wrapper { 
      @extend .col-sm-9 
    }
  }

  .actions {
    @include clearfix;
    :first-child { @extend .pull-left; }
    :last-child { @extend .pull-right; }
  }
}

.timeZoneView {}

.timeZoneList {
  @extend .list-unstyled;
  @include make-row;
}

.timeZoneListItem {
  @include make-md-column(3);
}

.editTimeZone {
  @extend .card;

  &.splashMode {
    @extend .clickable;
    @include dark-hover;
  }

  &:hover {
    .menu {
      @include show;
    }
  }
}

.timeZone {
  @include clearfix;
}

.newTimeZone {
  @extend .card;

  &.splashMode {
    @extend .clickable;
    @include dark-hover;
    opacity: 0.7;
  }
}

.splash {
  @extend .text-muted;
  @extend .text-center;
}

.timeZoneForm {
  @extend .form;

  .header {
    @include clearfix;
    @include top-flush;
    @extend .page-header;

    h5 { 
      @extend .pull-left;
    }
    button {
      @extend .pull-right;
    }
  }
}

.footer-nav {
  padding: 25px 0;
  margin-bottom: 0;
}

.menu {
  @extend .list-unstyled;
  @extend .list-inline;
  @extend .pull-right;
  @extend .clickable;

  .edit {
    @extend .glyphicon;
    @extend .glyphicon-pencil;
  }

  .remove {
    @extend .glyphicon;
    @extend .glyphicon-trash;
  }

  // NOTE: TBS no longer has show() or hide() mixins but the docs say they do?
  @include hide;
}

.message {
  &.notice { @extend .bg-success }
  &.alert { @extend .bg-danger }
  &.info { @extend .bg-warning }
}